.heading {
  font-size: 1.65rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  --displacement: 20px;
  margin-left: var(--displacement);
  width: (100% - var(--displacement));
}

.investment-section {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 0.5fr;
  margin-top: 50px;
  margin-bottom: 60px;
}

.referral-section {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1.8fr;
  margin-top: 100px;
}

button.btn-withdraw {
  border-radius: 50px;
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .investment-section {
    grid-template-columns: 1fr;
    gap: 90px;
  }
  .referral-section {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img.vip-icon {
  position: absolute;
  bottom: -5px;
  left: -5px;
}
