/*deposit-history */

.main-deposit-history {
}
.main-deposit-history h4 {
  text-transform: capitalize;
}
.data-deposit-section {
  display: flex;
  gap: 10px;
}
.budget-deposit-section {
  display: flex;
  gap: 10px;
}
.budget-deposit-section p {
  text-transform: uppercase;
}

.date-mont-sec {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-date-hour {
  display: flex;
  gap: 30px;
}
.card-data-first-Section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.btn-withdraw {
  width: 120px;
  border-radius: 50px !important;
}

.section-section-date-withraw {
  padding: 20px 15px;
  display: flex;

  justify-content: space-between;
}
.section-section-date-withraw-vouchar {
  padding: 5px 15px;
  display: flex;

  justify-content: space-between;
}

.hr-deposit-section {
  color: #6c6a6a;
  height: 5px;
  margin: 30px 50px;
}
.text-Section {
  height: 230px;
}
.text-Section-vouchar {
  height: 100px;
}
/* main-Referral */

.main-Referral {
  margin-top: 50px;
  padding-bottom: 50px !important;
}
.main-Referral h4 {
  text-transform: capitalize;
}
.referral-container {
  padding: 10px 20px;
}
.progress-bar-div {
  padding: 10px;
}

.progress-bar-div h4 {
  text-transform: capitalize;
}
.progress-bar {
  padding: 10px 0px;
  font-size: 20px;

  color: #000000;
  background-color: #585252 !important;
}
.section-data-referral {
  display: flex;
  margin-top: 88px;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
}
.data-section-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.inner-data-section {
  display: flex;

  flex-direction: column;
}

.btn-copylink {
  font-weight: bold;
}

.hr-deposit-section-vochar {
  color: #6c6a6a;
  height: 5px;
  margin: 5px 50px;
}

@media (max-width: 991.98px) {
  .section-date-hour {
    display: flex;
    gap: 45px;
  }
  .btn-withdraw {
    width: 100px;
  }
  .section-section-date-withraw {
    gap: 30px;
  }
}
.section-date-hour-var {
  display: flex;
  gap: 30px;
}

@media (max-width: 767.98px) {
  .container-section-two {
    grid-template-columns: 1fr;
  }
  .container-section-three {
    display: flex;
    flex-direction: column-reverse;
  }
  .section-data-referral {
    margin-top: 40px;
    row-gap: 20px;
    justify-content: center;
  }
}
