/* table */
.main-container {
  margin-top: 100px;
}
.main-container h4 {
  text-transform: capitalize;
}
.card-main-inner {
  padding: 10px 30px;
}

.table-head {
  color: #fff;
}
.table-head th {
  border-bottom: none;
}
.table-head td {
  border-bottom: none;
}
.table-btn-yellow {
  padding: 0px 25px !important;
  border-radius: 50px !important;
}
.table-btn-green {
  padding: 0px 30px !important;
  border-radius: 50px !important;
}
.table-btn-red {
  padding: 0px 35px !important;
  border-radius: 50px !important;
}

.end-td-green-data {
  color: #a9f9a8;
}
.end-td-red-data {
  color: #f80000;
}
