@font-face {
  font-family: THICCCBOI;
  src: url("assets/fonts/THICCCBOI-Regular.ttf");
}
@font-face {
  font-family: THICCCBOI;
  src: url("assets/fonts/THICCCBOI-Bold.ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: THICCCBOI, Arial;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000300;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b1b1b149;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b1b1b180;
}
