.t-cards-grid {
  display: flex;
  gap: 25px;
  margin-top: 70px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 50px 0;
}

.t-container {
  width: 340px;
  height: auto;
}

div.t-card {
  padding: 50px 40px;
}

.t-icon {
  width: 180px;
  height: 180px;
}

.t-card-content {
  margin-top: 20px;
}

@media (max-width: 991.98px) {
  .t-container {
    flex-shrink: 0;
  }
}
